$canadian-bckg-main: #2f2e2e;
$canadian-nav-txt: #9a99a2;
$canadian-nav-accent-txt: #dedede;
$canadian-title: #e4e0d2;
$vertical-side-line: #a89167;
$treatment-title: #2f2e2e;
$treatment-subtitle: #929292;
$wireframes-bckg: #2f2e2e;
$wireframes-title: #ffffff;
$second-box-bckg: #837165;
$rgb-list-txt: #767072;
$box-first: #524b4d;
$box-second: #95867b;
$box-third: #b3a07a;
$box-fourth: #767072;
$box-fifth: #b1a59e;
$box-sixth: #c1b191;
$box-seventh: #a8a7a7;
$box-eighth: #d0c9c4;
$box-ninth: #d0c5ab;
$box-tenth: #f8f7f6;
$box-eleventh: #f3f1f0;
$box-twelfth: #e4decc;
$alaphabet: #e7e2e2;