$year-color: #9A99A2;
$header-bold: #313636;
$small-desc: #29676D;
$titles-color: #232326;
$text-color: #6B6A72;
$wirefames-small: #949494;
$wireframes-bigger: #EAEAEA;
$wirefames-text: #BEBEBE;
$overview-block: #A5C2C6;
$treat-block: #EBF1F2;
$facial-used-bg: #EBF1F2;
$rounded-two: #1B5D64;
$rounded-three: #A5C2C6;
$rounded-four: #CADBD8;
$rounded-five: #F7F9F8;
$default-white: #FFF;