$ivala-bckg: #1a202c;
$ivala-header: #2d3748;
$ivala-text: #a29fad;
$quiz-tit: #304162;
$quiz-txt: #817d90;
$msq-down-bckg: #eeebfc;
$overlay-bg: #f0eff2;
$hidder-bg: #eeebfc;
$default-white: #fff;
$bottom-examples-title: #0d0b49;
$bottom-examples-simple: #666e77;
$linear-bckg-down: linear-gradient( 360deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.4) 34.28%, rgba(238, 235, 252, 0.97) 66.66%, #eeebfc 100%);