$miia-title-one: #252821;
$miia-title-two: #2D3129;
$miia-second-text: #666E77;
$used-one: #2D3129;
$used-two: #8C9385;
$used-three: #F2F2F2;
$used-four: #DAA132;
$miia-bottom: #E5E5E5;
$default-white: #FFF;