$header-links: #181a1f;
$default-white: #fff;
$header-link-hovered: #7f86df;
$text-color-one: #0d0b49;
$text-color-two: #666e77;
$exapmle-bckg: #f8f9fd;
$example-border: #efeff0;
$exapmle-hovered-bckg: #3d4697;
$example-hovered-text: #fff;
$main-click: #3d4697;
$phone-ball: #f9816a;
$left-ball: #af22d1;
$top-ball: #f9816a;
$top-ball-small: #4ce2e2;
$bottom-ball: #71e4e3;
$center-ball: #3166eb;
$footer-bckg: #fbfbfb;
$footer-text: #67677b;
$banner-text: #cdcdcd;
$chart-bckg: #f2f2f2;
$poster-bckg: #f8f9fd;
$poster-border: #efeff0;
$like-bckg: #d7ecd3;
$dislike-bckg: #f2b1b5;
$fail-color: #dc3232;
$inp-text: #9a99a2;
$inp-border: #d1cfd7;
$submit-btn: #050c7e;
$benefits-border: #e6e4ea;
$benefits-bckg: #3d4697;
$blog-btn: #f8f9fd;
$blog-txt: #666e77;
$applying-bckg: #3d4697;
$applying-brdr: #6c77da;
$placeholder-txt: #bbbac4;
$file-txt: #7c818a;
$balls-bckg: #e5e5e5;
$balls-border: #e5e5e6;
$example-more: #fbfbfb;