$bckg-main: #202328;
$navbar-line: #2f353d;
$secondary-txt: #373f49;
$nav-txt: #98a2ae;
$about-txt: #fff;
$circle: #10acbf;
$about-proj-low-txt: #d9dde3;
$components-title: #404c5a;
$desktop-txt: #6b98b1;
$tab-txt: #5854f7;