@import '../vars/vars.scss';
@import '../mixins.scss';
.begin {
    margin-bottom: 197px;
    margin-top: 170px;
    position: relative;
    animation: fadeIn 2s;
    @include onMobile {
        margin-bottom: 140px;
        margin-top: 110px;
    }
    &__container {
        padding: 0 20px;
        max-width: 1064px;
        padding-bottom: 10vw;
        margin: 0 auto;
        display: flex;
        gap: 17px;
        padding-top: 3vw;
        position: relative;
        @include onTablet {
            max-width: 764px;
        }
        @include onMobile {
            flex-direction: column;
        }
    }
    &-mobile {
        display: none;
        @include onMobile {
            display: block;
        }
        &>img {
            width: 100%;
        }
    }
    &-desktop {
        width: 50vw;
        max-width: 800px;
        position: absolute;
        top: 0;
        right: 1vw;
        @include onTablet {
            right: 1vw;
        }
        @include onMobile {
            display: none;
        }
        &>img {
            width: 100%;
        }
    }
}

.dsc {
    padding-top: 50px;
    @include onTablet {
        padding-top: 20px;
    }
    &__title {
        font-family: 'Catamaran';
        font-style: normal;
        font-weight: 800;
        font-size: 44px;
        line-height: 120%;
        max-width: 470px;
        color: $text-color-one;
        @include onTablet {
            font-size: 36px;
            line-height: 43px;
            max-width: 380px;
        }
    }
    &__text {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        color: $text-color-two;
        max-width: 490px;
        &:first-of-type {
            padding-top: 25px;
        }
        &:nth-of-type(2) {
            padding-bottom: 75px;
            @include onMobile {
                padding-bottom: 50px;
            }
        }
        @include onTablet {
            font-size: 18px;
            line-height: 27px;
            max-width: 342px;
        }
        @include onMobile {
            max-width: none;
        }
    }
    &__link {
        padding: 13px 33px;
        background: $main-click;
        border-radius: 90px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        font-family: 'SF Pro Display';
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $default-white;
    }
}

.photobox {
    max-width: 670px;
    &__photo {
        width: 100%;
        object-fit: cover;
    }
}

.map {
    position: relative;
    padding: 0 20px;
    margin-top: 200px;
    @include onTablet {
        margin-top: 170px;
    }
    @include onMobile {
        margin-top: 150px;
    }
    &__line>img {
        position: absolute;
        left: 0;
        top: 24%;
        width: 100%;
        z-index: 3;
        @include onMobile {
            display: none;
        }
    }
}

.circle {
    max-width: 1064px;
    margin: 0 auto;
    position: relative;
    @include onTablet {
        max-width: 764px;
    }
    @include onMobile {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 350px;
    }
    &__first {
        position: absolute;
        top: 9%;
        left: 1%;
        @include onTablet {
            top: 1%;
        }
        @include onMobile {
            position: static;
            margin-bottom: 70px;
        }
    }
    &__second {
        position: absolute;
        top: 54%;
        left: 30%;
        @include onTablet {
            top: 43%;
        }
        @include onMobile {
            position: static;
            margin-bottom: 70px;
        }
    }
    &__third {
        position: absolute;
        top: 9%;
        left: 55%;
        @include onTablet {
            top: 2%;
        }
        @include onMobile {
            position: static;
        }
    }
    &__fourth {
        position: absolute;
        top: 54%;
        left: 82%;
        @include onTablet {
            top: 43%;
        }
        @include onMobile {
            position: static;
        }
    }
    &__bckg {
        width: 100%;
        position: relative;
        z-index: 2;
        @include onMobile {
            display: none;
        }
    }
}

.bd {
    width: 15vw;
    position: absolute;
    left: 0;
    top: -650px;
    z-index: -1;
    @include onMobile {
        width: 90vw;
        top: -120px;
    }
    &-mobile {
        display: none;
        @include onMobile {
            display: block;
        }
    }
    &-desktop {
        @include onTablet {
            display: none;
        }
    }
    &__img {
        width: 100%;
    }
}

.bt {
    width: 20vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @include onMobile {
        width: 90vw;
    }
    &__img {
        width: 100%;
    }
}

.wd {
    width: 40vw;
    position: absolute;
    max-width: 450px;
    right: 0;
    top: -7vw;
    z-index: -1;
    @include onTablet {
        display: none;
    }
    @include onMobile {
        width: 90vw;
        top: 20vw;
    }
    &__sec {
        width: 100%;
    }
}

.round {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    &__num {
        height: 127px;
        min-width: 127px;
        width: 127px;
        background: $default-white;
        box-shadow: 7px 10px 30px rgb(110 153 163 / 17%);
        border-radius: 50%;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        font-family: 'SF Pro Display';
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-color-one;
        margin: 20px 0;
        @include onTablet {
            height: 89px;
            width: 89px;
            min-width: 89px;
            font-size: 22px;
            line-height: 32px;
        }
        @include onMobile {
            width: 120px;
            height: 120px;
            font-size: 34px;
            line-height: 51px;
        }
    }
    &__txt {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: $text-color-one;
        &-mobile {
            display: none;
            @include onMobile {
                display: block;
            }
        }
        &-desktop {
            @include onMobile {
                display: none;
            }
        }
        @include onTablet {
            font-size: 16px;
            line-height: 23px;
        }
        @include onMobile {
            width: 148px;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
}

.workflow {
    position: relative;
    &__bg {
        position: relative;
        &-img {
            width: 40vw;
            position: absolute;
            max-width: 450px;
            right: 0;
            z-index: -1;
        }
    }
    &__desc {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1120px;
        padding: 0 25px;
        margin-bottom: 80px;
        margin-top: 15vw;
        &-title {
            max-width: 507px;
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 120%;
            color: $text-color-one;
            flex-grow: 1;
        }
    }
}

.text {
    max-width: 480px;
    flex-grow: 1;
    &__item {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        font-family: 'SF Pro Display';
        color: $text-color-two;
        padding-bottom: 25px;
    }
}

.flowbox {
    margin-top: 50px;
    position: relative;
    @include onTablet {
        margin-top: 20px;
    }
    &__container {
        max-width: 1064px;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
        @include onTablet {
            max-width: 764px;
        }
        @include onMobile {
            flex-direction: column;
        }
    }
    &__bck {
        position: absolute;
        left: 0;
        width: 550px;
        top: 120%;
        z-index: -1;
        @include onMobile {
            display: none;
        }
        &-img {
            width: 100%;
        }
    }
}

.thing {
    max-width: 500px;
    width: 100%;
    padding: 32px 24px;
    display: flex;
    margin-bottom: 25px;
    background: $default-white;
    box-shadow: 0px 24px 60px rgb(53 52 116 / 8%);
    border-radius: 10px;
    @media (max-width: 1053px) {
        max-width: 485px;
    }
    @include onTablet {
        max-width: 350px;
    }
    @include onMobile {
        max-width: none;
    }
    &__image {
        background: $exapmle-bckg;
        border: 1px solid $example-border;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 70px;
    }
    &__text {
        margin-left: 15px;
        margin-top: 25px;
        &-title {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            color: $text-color-one;
        }
        &-simple {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26.08px;
            color: $text-color-two;
            padding-top: 8px;
        }
    }
}