@import '../mixins.scss';
@import '../vars/holy-perogy-vars.scss';
.perogy {
    &-welcome {
        position: relative;
        display: flex;
        min-height: 100vh;
        @include onMobile {
            min-height: 50vh;
        }
        &-first {
            flex: 1;
            background-color: $welcome-first;
            background-image: url('../../public/photos/holy-perogy/design.svg');
            background-repeat: no-repeat;
            @include onMobile {
                background-image: none;
            }
            &__title {
                padding-top: 69px;
                padding-left: 74px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 28px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $welcome-title;
                @include onMobile {
                    padding-top: 0px;
                    padding-left: 0px;
                    position: absolute;
                    z-index: 1;
                    font-size: 24px;
                    top: 10%;
                    left: 20%;
                    margin-right: auto;
                    line-height: 29px;
                }
            }
        }
        &-second {
            flex: 1;
            background-color: $welcome-second;
            background-image: url('../../public/photos/holy-perogy/welcome-second.svg');
            background-repeat: no-repeat;
        }
        &-third {
            background-image: url('../../public/photos/holy-perogy/welcome-third.svg');
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;
            text-align: -webkit-right;
            @media (min-width: 1024px) {
                padding-top: 55px;
            }
            @include onMobile {
                padding-top: 0px;
            }
            &__year {
                padding-right: 10px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 23px;
                line-height: 28px;
                letter-spacing: 0.04em;
                text-transform: capitalize;
                transform: rotate(-90deg);
                color: $year-txt;
                max-width: 70px;
                @include onMobile {
                    position: absolute;
                    top: 10%;
                    left: 40%;
                    transform: rotate(0deg);
                    text-align: center;
                    color: $welcome-title;
                }
            }
        }
    }
    &-palette {
        min-height: 120vh;
        position: relative;
        @include onTablet {
            min-height: 108vh;
        }
        @include onMobile {
            min-height: 60vh;
        }
    }
}

.palette {
    position: relative;
    &__main-palette-logo {
        bottom: 30%;
        position: absolute;
        max-width: 1000px;
        height: auto;
        left: 0;
        right: 0;
        margin: auto;
        @include onTablet {
            bottom: 35%;
            max-width: 550px;
        }
        @include onMobile {
            max-width: 200px;
        }
    }
    &__display {
        @media (min-width: 1024px) {
            max-width: 100%;
            top: calc(-100% + 300px);
        }
        @include onTablet {
            max-width: calc(100% - 100px);
            top: calc(-100% + 650px);
        }
        @include onMobile {
            max-width: calc(100% - 100px);
            top: calc(-100% + 70.5%);
        }
        position: absolute;
        top: -796px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    &__inner {
        @media (min-width: 1024px) {
            top: calc(-100% + 459px);
            max-width: 85%;
        }
        @media (min-width: 1280px) {
            max-width: 100%;
        }
        @include onTablet {
            max-width: calc(100% - 202px);
            top: calc(-100% + 77.5%);
        }
        @include onMobile {
            max-width: calc(100% - 137px);
            top: calc(-100% + 78%);
        }
        position: absolute;
        top: -623px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.fonts-example {
    min-height: 100vh;
    width: 100%;
    background-image: url('../../public/photos/holy-perogy/section-fonts.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    @include onTablet {
        min-height: 60vh;
    }
    @include onMobile {
        min-height: 20vh;
    }
}

.mobile-design {
    min-height: 100vh;
    padding-left: 189px;
    background-image: url('../../public/photos/holy-perogy/mobile-design.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 85%;
    position: relative;
    @include onTablet {
        min-height: 80vh;
    }
    @include onMobile {
        min-height: 40vh;
        padding-left: 20px;
    }
    &-header {
        display: flex;
        align-items: center;
        gap: 20px;
        @include onTablet {
            gap: 0px;
            align-items: baseline;
        }
        @include onMobile {
            gap: 0px;
            align-items: baseline;
        }
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            color: $horizontal-line;
            @include onMobile {
                font-size: 27px;
                line-height: 33px;
            }
        }
        &__horizontal {
            border-bottom: 1px solid $horizontal-line;
            width: 76px;
        }
    }
    &__mint {
        position: absolute;
        right: 0px;
        z-index: -1;
        @media (min-width: 1024px) {
            top: 0px;
            max-width: 400px;
        }
        @media (min-width: 1124px) {
            max-width: 500px;
            top: -50px;
        }
        @media (min-width: 1284px) {
            max-width: 550px;
            top: -100px;
        }
        @media (min-width: 1550px) {
            top: -160px;
            min-width: 500px;
        }
        @include onTablet {
            max-width: 300px;
            top: 100px;
        }
        @include onMobile {
            max-width: 130px;
            top: 20px;
        }
    }
    &-bottom__logo {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        @include onTablet {
            max-width: 600px;
            right: 0px;
            bottom: calc(100% - 650px);
        }
        @include onMobile {
            max-width: 300px;
            bottom: 70px;
            display: none;
        }
        &-small {
            display: none;
            @include onTablet {
                position: absolute;
                bottom: 0px;
                z-index: -1;
                right: 0px;
                display: none;
            }
            @include onMobile {
                display: block;
                position: absolute;
                bottom: 50px;
                z-index: -1;
                right: 0px;
            }
        }
    }
}

.desktop-design {
    min-height: 160vh;
    position: relative;
    @include onTablet {
        min-height: 100vh;
    }
    @include onMobile {
        min-height: 50vh;
    }
    &-header {
        padding-left: 189px;
        padding-top: 300px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include onTablet {
            padding-top: 170px;
        }
        @include onMobile {
            top: 100px;
            padding-left: 20px;
            padding-top: 50px;
        }
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            color: $horizontal-line;
            @include onMobile {
                font-size: 27px;
            }
        }
        &__horizontal {
            border-bottom: 1px solid $horizontal-line;
            width: 76px;
        }
    }
    &__website-logo {
        margin-left: 20%;
        margin-bottom: -780px;
        @media (min-width: 1024px) {
            margin-bottom: -635px;
            max-width: 900px;
            margin-left: 10%;
        }
        @media (min-width: 1284px) {
            margin-bottom: -635px;
            min-width: 1100px;
            margin-left: 15%;
        }
        @media (min-width: 1340px) {
            margin-bottom: -670px;
            min-width: 1050px;
            margin-left: 20%;
        }
        @media (min-width: 1640px) {
            margin-bottom: -800px;
            min-width: 1400px;
            margin-left: 18%;
        }
        @include onTablet {
            max-width: 620px;
            margin-left: 18%;
            margin-bottom: -390px;
        }
        @include onMobile {
            max-width: 240px;
            margin-bottom: -175px;
        }
    }
    &__mobile-menu {
        height: auto;
        position: absolute;
        display: none;
        @include onMobile {
            display: block;
            left: 100px;
            bottom: 0px;
            max-width: calc(100% - 145px);
        }
    }
    &__cereals {
        position: absolute;
        left: 0px;
        @media (min-width: 1024px) {
            display: none;
        }
        @media (min-width: 1154px) {
            display: inline;
        }
        @include onTablet {
            display: none;
        }
        @include onMobile {
            display: none;
        }
    }
    &__tablet-perogy {
        position: absolute;
        top: 30%;
        @media (min-width: 1024px) {
            right: 300px;
            max-width: 700px;
        }
        @media (min-width: 1384px) {
            right: 470px;
            min-width: 825px;
        }
        @include onTablet {
            max-width: 450px;
            left: calc(100% - 95%);
        }
        @include onMobile {
            max-width: 200px;
        }
    }
    &__tablet-end {
        position: absolute;
        right: 0;
        top: 30%;
        @media (min-width: 1024px) {
            max-width: 750px;
            max-height: 47vh;
        }
        @media (min-width: 1384px) {
            max-height: 54vh;
        }
        @include onTablet {
            max-width: 450px;
            max-height: 30vh;
        }
        @include onMobile {
            max-width: 200px;
            max-height: 120px;
        }
    }
    &__tablet-bottom {
        &-start {
            display: none;
            @include onMobile {
                display: block;
                position: absolute;
                left: 0px;
                bottom: 0px;
                max-width: calc(100% - 315px);
            }
        }
        &-desk {
            position: absolute;
            left: 0px;
            bottom: 0px;
            @media (min-width: 1024px) {
                max-width: 337px;
                left: -100px;
            }
            @media (min-width: 1384px) {
                min-width: 357px;
                left: 0px;
            }
            @include onTablet {
                max-width: 215px;
            }
            @include onMobile {
                display: none;
            }
        }
        &-menu {
            position: absolute;
            bottom: 0px;
            @media (min-width: 1024px) {
                max-width: 720px;
                right: 30px;
            }
            @media (min-width: 1384px) {
                right: 180px;
                min-width: 750px;
            }
            @include onTablet {
                right: 30px;
                max-width: 456px;
            }
            @include onMobile {
                display: none;
            }
        }
    }
}

.banner-footer {
    min-height: 320vh;
    position: relative;
    @media (min-width: 1540px) {
        min-height: 380vh;
    }
    // @media (min-width: 385px) {
    //     min-height: 110vh;
    // }
    @include onTablet {
        min-height: 170vh;
    }
    @include onMobile {
        min-height: 110vh;
    }
    &__footer-mobile {
        position: absolute;
        display: none;
        @include onMobile {
            display: block;
            margin: auto;
            left: 0;
            right: 0;
            max-width: calc(100% - 100px);
            z-index: 0;
        }
    }
    &__footer-desk {
        top: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        @media (min-width: 1024px) {
            min-width: 1000px;
        }
        @media (min-width: 1284px) {
            min-width: 1100px;
        }
        @media (min-width: 1440px) {
            min-width: 1400px;
        }
        @media (min-width: 1660px) {
            min-width: 1600px;
        }
        @media (min-width: 1540px) {
            position: absolute;
        }
        @media (min-width: 800px) {
            max-width: 850px;
        }
        @include onTablet {
            max-width: 550px;
        }
        @include onMobile {
            display: none;
        }
    }
    &__home-logo {
        position: absolute;
        top: 30%;
        z-index: -1;
        @media (min-width: 1024px) {
            max-width: 120px;
        }
        @media (min-width: 1440px) {
            min-width: 172px;
        }
        @include onTablet {
            max-width: 90px;
        }
        @include onMobile {
            top: 15%;
            max-width: 50px;
        }
    }
    &__design-logo {
        position: absolute;
        right: 0px;
        top: 350px;
        z-index: -1;
        @media (min-width: 1024px) {
            max-width: 110px;
        }
        @include onTablet {
            max-width: 60px;
        }
        @include onMobile {
            top: 10%;
            max-width: 40px;
        }
    }
}

.projects-footer {
    min-height: 50vh;
    padding-top: 145px;
    padding-bottom: 132px;
    @media (min-width: 1024px) {
        padding-left: 96px;
    }
    @media (min-width: 1184px) {
        padding-left: 186px;
        padding-right: 187px;
    }
    @include onMobile {
        display: none;
    }
    &__title {
        font-family: 'Butler';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 150%;
        color: $projects-title;
        text-align: center;
        margin-bottom: 80px;
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 47px;
        justify-content: space-between;
        @include onTablet {
            gap: 25px;
            flex-wrap: wrap;
        }
        @include onMobile {
            flex-wrap: wrap;
        }
        @media (min-width: 1024px) {
            gap: 30px;
            flex-wrap: wrap;
        }
        @media (min-width: 1384px) {
            flex-wrap: nowrap;
        }
        &-logo {
            @media (min-width: 1024px) {
                min-width: 190px;
            }
            @media (min-width: 1184px) {
                min-width: 210px;
            }
        }
        &-logo:hover {
            transition: transform 0.5s;
            transform: scale(1.1);
        }
    }
}

.next-project {
    display: none;
    @include onMobile {
        display: block;
    }
    &-content-block {
        padding: 30px;
        &__title {
            font-family: 'Catamaran';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 150%;
            color: $projects-title;
        }
        &__subtitle {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 163%;
            color: $next-projects-subtitle-txt;
        }
    }
    &__logo {
        width: 100%;
    }
}