@import '../vars/rehab-vars.scss';
@import '../mixins.scss';
.rehab {
    &__basis {
        &-telling {
            padding-top: 280px;
        }
    }
}

.inception {
    position: relative;
    background: url('../../public/photos/rehab/head.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    &__blur {
        background: linear-gradient( 270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.8;
        filter: blur(43px);
        position: absolute;
        height: 498px;
        width: 100%;
        bottom: -100px;
    }
    &__gen {
        max-width: 1064px;
        margin: 0 auto;
        padding: 100px 20px 0;
        &-asset {
            margin-top: 164px;
            max-width: 140px;
            &-img {
                width: 100%;
            }
        }
        &-big {
            font-family: 'Crimson Text';
            font-style: normal;
            font-weight: 600;
            font-size: 68px;
            line-height: 88px;
            text-transform: capitalize;
            color: $title-color;
            margin-top: 8px;
        }
        &-small {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: $simple-text;
            max-width: 500px;
            margin-top: 18px;
        }
        &-scroll {
            max-width: 85px;
            margin-top: 42px;
            cursor: pointer;
            &>img {
                width: 100%;
            }
        }
    }
    &__telling {
        padding-top: 708px;
        padding-bottom: 180px;
    }
}

.roster {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    max-width: 427px;
    &__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        opacity: 0.55;
        color: $simple-text;
    }
}

.telling {
    max-width: 1064px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    @include onMobile {
        flex-direction: column;
    }
    &__title {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        max-width: 321px;
        color: $title-color;
        &-light {
            font-family: 'Crimson Text';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 60px;
            max-width: 321px;
            color: $default-white;
        }
    }
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $simple-text;
        max-width: 448px;
        &-light {
            color: $default-white;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            max-width: 448px;
        }
        &-longer {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $simple-text;
            max-width: 475px;
        }
    }
}

.route {
    position: relative;
    @include onTablet {
        display: none;
    }
    @include onMobile {
        display: none;
    }
    &__photo {
        max-width: 1266px;
        margin: 0 auto;
        padding: 0 20px;
        &-item {
            width: 100%;
        }
        &-blur {
            background: linear-gradient( 270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            opacity: 0.8;
            filter: blur(43px);
            position: absolute;
            transform: rotate(90deg);
            bottom: -200px;
            left: 410px;
            height: 100%;
            width: 498px;
            z-index: 1;
        }
    }
}

.prlx {
    &-one {
        position: relative;
        z-index: 2;
        margin-top: 90px;
        height: 1637px;
        background: url('../../public/photos/rehab/paralax-one.png');
        background-size: cover;
        background-attachment: fixed;
    }
    &-two {
        margin-top: 72px;
        height: 1360px;
        background: url('../../public/photos/rehab/paralax-two.png');
        background-size: cover;
        background-attachment: fixed;
    }
}

.srch {
    margin-top: 120px;
    background: linear-gradient(336.41deg, #0d8faf -1.91%, #1bc3ce 107.46%);
    &__telling {
        padding-top: 184px;
    }
    &__photo {
        display: flex;
        justify-content: flex-end;
        margin-top: 145px;
        padding-bottom: 171px;
        padding-left: 20px;
        &-item {
            max-width: 1251px;
            &>img {
                width: 100%;
            }
        }
    }
}

.typo {
    max-width: 1064px;
    margin: 0 auto;
    margin-top: 223px;
    padding: 0 20px;
    &__title {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 65px;
        color: $title-color;
    }
}

.alphabet {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    @include onMobile {
        flex-direction: column;
    }
    &__box {
        display: flex;
        &-title {
            font-family: 'Crimson Text';
            font-style: normal;
            font-weight: 600;
            font-size: 102px;
            line-height: 166px;
            letter-spacing: -0.02em;
            color: $big-letter;
            @include onMobile {
                font-size: 88px;
                line-height: 100%;
            }
        }
        &-txt {
            margin-top: 35px;
            margin-left: 24px;
            &> {
                color: $title-color;
            }
            &>p {
                margin-top: 7px;
                color: $alphabet-text;
            }
        }
        &:first-of-type {
            &>.box-txt {
                &>h3 {
                    font-family: 'Crimson Text';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 42px;
                    text-transform: capitalize;
                }
                &>p {
                    font-family: 'Crimson Text';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 37px;
                    text-transform: capitalize;
                    width: 347px;
                    @include onMobile {
                        max-width: 250px;
                    }
                }
            }
        }
        &:nth-of-type(2) {
            &>.box-txt {
                &>h3 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 38px;
                    text-transform: capitalize;
                }
                &>p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    text-transform: capitalize;
                    max-width: 357px;
                }
            }
        }
    }
}

.paint {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 160px;
    padding: 0 20px;
    &__title {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 65px;
        color: $title-color;
        text-align: center;
    }
    &__palette {
        width: 100%;
        margin-top: 42px;
        &-image {
            width: 100%;
        }
    }
}

.rehab-bottom-tit,
.rehab-bottom-gen {
    color: $title-color;
}